<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>List and Dataframe</h1>

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Understand the list and how list correlated with dataframe
*   Understand dataframe
*   Operate on dataframes

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#About-the-Dataset">About the Dataset</a></li>
<li><a href="#Lists">Lists</a></li>
<li><a href="#DataFrames">Data frames</a></li>
</div>

<a id="ref0"></a>

<center><h2>About the Dataset</h2></center>

Imagine you got many movie recomendations from your friends and compiled all of the recomendations in a table, with specific info about each movie.

The table has one row for each movie and several columns

*   **name** - The name of the movie
*   **year** - The year the movie was released
*   **length_min** - The lenght of the movie in minutes
*   **genre** - The genre of the movie
*   **average_rating** - Average rating on Imdb
*   **cost_millions** - The movie's production cost in millions
*   **sequences** - The amount of sequences
*   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0)
*   **age_restriction** - The age restriction for the movie

<br>
<br>

Part of the dataset can be seen below

<img src = "https://ibm.box.com/shared/static/6kr8sg0n6pc40zd1xn6hjhtvy3k7cmeq.png" align = "center">

<hr>

<a id="ref1"></a>

<center><h2>Lists</h2></center>

First of all, we're gonna take a look at lists in R.

A list is a sequenced collection of different objects of R, like vectors, numbers, characters, other lists and so on. You can consider a list as a container of correlated information, well structured, and easy to read with a context.

A list accepts items of different types, but a vector (or a matrix, which is a multidimensional vector) doesn't. To create a list just type **list()** with your content inside the parenthesis and separated by commas. Let’s try it!

In [ ]:
movie <- list("Toy Story", 1995, c("Animation", "Adventure", "Comedy"))

In the code above, the variable movie contains a list of 3 objects, which are a string, a numeric value, and a vector of strings.

Easy, eh? Now let's print the content of the list. We just need to call its name.

In [ ]:
movie

### Accessing items in a list

It is possible to retrieve only a part of a list using the **single square** bracket operator "**\[ ]**". This operator can be also used to get a single element in a specific position. Take a look at the next example:

The index number 2 returns the second element of a list, if that element exists:

In [ ]:
movie[2]

Or you can select a part or interval of elements of a list. In our next example we are retrieving the 1st, 2nd, and 3rd elements:

In [ ]:
movie[2:3]

It looks a little confusing, but lists can also store names for its elements.

### Named lists

The following list is a named list:

In [ ]:
movie <- list(name = "Toy Story",
             year = 1995,
             genre = c("Animation", "Adventure", "Comedy"))

Let me explain that: the list **movie** has some named objects within it. **name**, for example, is an object of type **character**, **year** is an object of type **number**, and **genre** is a vector with objects of type **character**.

Now take a look at this list. This time, it's full of information and well organized. It's clear what each element means. You can see that the elements have different types, and that's ok because it's a list.

In [ ]:
movie

You can also get separated information from the list. You can use **listName$selectorName**. The *dollar-sign operator* **$** will give you the block of data that is related to selectorName.

Let's get the genre part of our movies list, for example.

In [ ]:
movie$genre

Another way of selecting the genre column:

In [ ]:
movie["genre"]

<hr>

**Coding Exercise:** in the code cell below, get the second element in the genre column

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
movie$genre[2]

```

</details>

<hr>

You can also use numerical selectors like an array. Here we are selecting elements ranged from 2 to 3.

In [ ]:
movie[2:3]

The function **class()** returns the type of a object. You can use that function to retrieve the type of specific elements of a list:

In [ ]:
class(movie$name)

### Adding, modifying, and removing items

Adding a new element is also very easy. The code below adds a new field named **age** and puts the numerical value 5 into it.

In this case we use the double square brackets operator, because we are directly referencing a list member (and we want to change its content).

In [ ]:
movie[["age"]] <- 5
movie

In order to modify, you just need to refer a list member that already exists, then change its content.

In [ ]:
movie[["age"]] <- 6
# Now it's 6, not 5
movie

And removing is also easy! You just put ***NULL***, which means missing value/data, into it.

In [ ]:
movie[["age"]] <- NULL
movie

**Coding Exercise:** in the code cell below, add a logical column with a name 'WillWatch' with value TRUE or T

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
movie[["WillWatch"]] <- T
movie
```

</details>

### Concatenating lists

Concatenation is the proccess of puting things together, in sequence. And yes, you can do it with lists. Just call the function ***c()***. Take a look at the next example:

In [ ]:
# We split our previous list in two sublists
movie_part1 <- list(name = "Toy Story")
movie_part2 <- list(year = 1995, genre = c("Animation", "Adventure", "Comedy"))

# Now we call the function c() to put everything together again
movie_concatenated <- c(movie_part1, movie_part2)

# Check it out
movie_concatenated

Lists are really handy for organizing different types of elements in R, and also easy to use.

Additionally, lists are also important since this type of data structure is essential to create data frames, our next covered topic.

<hr>

<a id="ref2"></a>

<center><h2>DataFrames</h2></center>

A DataFrame is a structure that is used for storing data tables. Underneath it all, a data frame is a list of vectors of same length, exactly like a table (each vector is a column).

We can use the function  **data.frame()** to create a data frame and pass vector, which are our columns, as arguments. It is required to name the columns that will compose the data frame.

In [ ]:
movies <- data.frame(name = c("Toy Story", "Akira", "The Breakfast Club", "The Artist",
                              "Modern Times", "Fight Club", "City of God", "The Untouchables"),
                    year = c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987),
                    stringsAsFactors=F)

Let's print its content of our recently created data frame:

In [ ]:
movies

It's very easy! You can note how it looks like a table.

We can also use the **"$"** selector to get some type of information. This operator returns the content of a specific column of a data frame (that's why we have to choose a name for each column).

In [ ]:
movies$name

You retrieve data using numeric indexing, like in lists:

In [ ]:
# This returns the first (1st) column
movies[1]

<hr>

**Coding Exercise:** in the code cell below, select the first row of movies data frame

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
movies[1, ]

```

</details>

<hr>

**Coding Exercise:** in the code cell below, select the first and second rows but only with first column selected from the movies data frame

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
movies[1:2, 1]

```

</details>

<hr>

The function called **str()** is one of most useful functions in R. With this function you can obtain textual information about an object. In this case,  it delivers information about the objects whitin a data frame. Let's see what it returns:

In [ ]:
str(movies)

It shows this data frame has 8 observations, for 2 columns, so called **name** and **year**. The "name" column is a factor with 8 levels and "year" is a numerical column.

The class() function works for data frames as well. You can use it to determine the type of a column of a data frame.

In [ ]:
class(movies$year)

You can use numerical selectors to reach information inside the table.

In [ ]:
movies[1,2] #1-Toy Story, 2-1995

The ***head()*** function is very useful when you have a large table and you need to take a peek at the first elements. This function returns the first 6 values of a data frame (or event a list).

In [ ]:
head(movies)

Similar to the previous function, ***tail()*** returns the last 6 values of a data frame or list.

In [ ]:
tail(movies)

Now, let's try to get the row with name "Toy Story"

In [ ]:
# Find the rows with name "Toy Story"
selected <- movies["name"] == "Toy Story"
# Get the selected row(s) with 'name' and 'year' columns
toy_story <- movies[selected, c("name", "year")]
toy_story

Now let's try to add a new column to our data frame with the length of each movie in minutes.

In [ ]:
movies['length'] <- c(81, 125, 97, 100, 87, 139, 130, 119)
movies

A new column was included into our data frame with just one line of code. We just needed to add a vector to data frame, then it will be our new column.

Now let's try to add a new movie to our data set.

In [ ]:
movies <- rbind(movies, c(name="Dr. Strangelove", year=1964, length=94))
movies

Remember, you can't add a list with more variables than the data frame, and vice-versa.

We don't need this movie anymore, so let's delete it. Here we are deleting row 12 by assigning to itself the movies dataframe without the 12th row.

In [ ]:
movies <- movies[-12,]
movies

To delete a column you can just set it as ***NULL***.

In [ ]:
movies[["length"]] <- NULL
movies

That is it! You learned a lot about data frames and how easy it is to work with them.

<hr>

#### Scaling R with big data

As you learn more about R, if you are interested in exploring platforms that can help you run analyses at scale, you might want to sign up for a free account on [IBM Watson Studio](http://cocl.us/dsx_rp0101en), which allows you to run analyses in R with two Spark executors for free.

***

## Authors

Hi! It's [Thiago Felipe Correa Borges](https://www.linkedin.com/in/thiago-felipe-corr%C3%AAa-borges-a932bb114?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2021-01-01\&trk=nav_responsive_tab_profile), the author of this notebook. I hope you found R easy to learn! There's lots more to learn about R but you're well on your way. Feel free to connect with me if you have any questions.

### Other Contributors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera23911160-2021-01-01">Yan Luo</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-03-03        | 2.0     | Yan        | Added coding tasks           |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>